# rename this file to .env (with leading dot)

# Токен бота, можно получить у https://t.me/botfather
BOT_TOKEN=1234567890:AaBbCcDdEeFGgHhIiJjKkLlMmNnOoPpQq

FORUM_SUPERGROUP_ID=-100123456789

# Удалять или нет подтверждения об отправке сообщений от юзера админам.
# Чтобы удалялось, укажите "yes", "1" или "true" (без кавычек)
REMOVE_SENT_CONFIRMATION=yes

# Redis data. Do not add database number to DSN
REDIS__DSN=redis://localhost
REDIS__FSM_DB_ID=0
REDIS__DATA_DB_ID=1

# PostgreSQL Connection string
POSTGRES_DSN=postgresql+psycopg://bot:password@127.0.0.1/telegram

# FSM Mode: memory or redis
# Use memory only for development, since all the data will be stored in RAM!
FSM_MODE=redis